.vscode/launch.json
.vscode/settings.json
Eigen
kalman
kalman.o
Makefile~
cpp/gen_data
/home/daad/Documents/kalman_4D/cpp/test_eigen
.vscode/c_cpp_properties.json
cpp/noisy_data_y.csv
cpp/noisy_data_x.csv
cpp/generate_data.hpp.gch
cpp/generate_data.o
cpp/generate_data_main.o
cpp/filtered_data_y.csv
cpp/filtered_data_x.csv
cpp/test_eigen/generate_data.o
cpp/test_eigen/test.o
cpp/test_eigen/test
cpp/test_eigen/test_y.csv
cpp/test_eigen/test_x.csv
cpp/test_eigen/ideal_y.csv
cpp/test_eigen/ideal_x.csv
cpp/ideal_x.csv
cpp/ideal_y.csv
cpp/test_x.csv
cpp/test_y.csv
